In [1]:
!pip install pandas sentence-transformers scikit-learn

Requirement already satisfied: pandas in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: sentence-transformers in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (3.2.1)
Requirement already satisfied: scikit-learn in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (1.3.2)
Requirement already satisfied: numpy<2,>=1.22.4 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: transformers<5.0.0,>=4.41.0 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from sentence-transformers) (4.46.0)
Requirement already satisfied: tqdm in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from sentence-transformers) (4.66.5)
Requirement already satisfied: torch>=1.11.0 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from sentence-transformers) (2.2.1+cu121)
Requirement already satisfied: scipy in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from sentence-transformers) (1.11.4)
Requirement already satisfied: huggingface-hub>=0.20.0 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from sentence-transformers) (0.26.1)
Requirement already satisfied: Pillow in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from sentence-transformers) (10.4.0)
Requirement already satisfied: joblib>=1.1.1 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: filelock in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (3.15.4)
Requirement already satisfied: fsspec>=2023.5.0 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (2024.9.0)
Requirement already satisfied: packaging>=20.9 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (6.0.2)
Requirement already satisfied: requests in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (2.32.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (4.12.2)
Requirement already satisfied: six>=1.5 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sympy in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (1.13.2)
Requirement already satisfied: networkx in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (3.3)
Requirement already satisfied: jinja2 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (3.1.4)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.1.105 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (12.1.105)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.1.105 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (12.1.105)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.1.105 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (12.1.105)
Requirement already satisfied: nvidia-cudnn-cu12==8.9.2.26 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (8.9.2.26)
Requirement already satisfied: nvidia-cublas-cu12==12.1.3.1 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (12.1.3.1)
Requirement already satisfied: nvidia-cufft-cu12==11.0.2.54 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (11.0.2.54)
Requirement already satisfied: nvidia-curand-cu12==10.3.2.106 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (10.3.2.106)
Requirement already satisfied: nvidia-cusolver-cu12==11.4.5.107 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (11.4.5.107)
Requirement already satisfied: nvidia-cusparse-cu12==12.1.0.106 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (12.1.0.106)
Requirement already satisfied: nvidia-nccl-cu12==2.19.3 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (2.19.3)
Requirement already satisfied: nvidia-nvtx-cu12==12.1.105 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (12.1.105)
Requirement already satisfied: triton==2.2.0 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from torch>=1.11.0->sentence-transformers) (2.2.0)
Requirement already satisfied: nvidia-nvjitlink-cu12 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from nvidia-cusolver-cu12==11.4.5.107->torch>=1.11.0->sentence-transformers) (12.6.68)
Requirement already satisfied: regex!=2019.12.17 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (2024.9.11)
Requirement already satisfied: safetensors>=0.4.1 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (0.4.5)
Requirement already satisfied: tokenizers<0.21,>=0.20 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (0.20.1)
Requirement already satisfied: MarkupSafe>=2.0 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from jinja2->torch>=1.11.0->sentence-transformers) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from requests->huggingface-hub>=0.20.0->sentence-transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from requests->huggingface-hub>=0.20.0->sentence-transformers) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from requests->huggingface-hub>=0.20.0->sentence-transformers) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from requests->huggingface-hub>=0.20.0->sentence-transformers) (2024.8.30)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /system/conda/miniconda3/envs/cloudspace/lib/python3.10/site-packages (from sympy->torch>=1.11.0->sentence-transformers) (1.3.0)

In [3]:
import pandas as pd
from sentence_transformers import SentenceTransformer, util
import numpy as np

In [4]:
df1=pd.read_csv("companyName.csv")

In [5]:
df1.head()

                      CompanyName
0              Allcargo Logistics
1               Blue Dart Express
2                        Gati Ltd
3  Transport Corporation of India
4                   VRL Logistics

In [6]:
df2=pd.read_csv("merged_output_Personality_jan9.csv")

In [7]:
df2.head()

           Search Query                                          Image URL
0           Ratan Tata   https://encrypted-tbn0.gstatic.com/images?q=tb...
1     Dhirubhai Ambani   https://encrypted-tbn0.gstatic.com/images?q=tb...
2         Fouaad Mirza   https://encrypted-tbn0.gstatic.com/images?q=tb...
3  G. V. Ramanjaneyulu   https://encrypted-tbn0.gstatic.com/images?q=tb...
4      Dinesh K Sarraf   https://encrypted-tbn0.gstatic.com/images?q=tb...

In [8]:
df3=pd.read_csv("merged_output_logo_jan9.csv")

In [9]:
df3.head()

,Search Query,Image URL
0,SIFS India,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,Hindustan Unilever Limited,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
2,Okaya Power Group,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
3,Hindustan Zinc Limited,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
4,Veolia India,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."

In [ ]:
# Load the data
small_list_df = pd.read_csv("companyName.csv", header=None, names=["CompanyName"])
large_list_df = pd.read_csv("merged_output_logo_jan9.csv", header=None, names=["Search Query"])
small_careers = small_list_df["CompanyName"].tolist()
large_careers = large_list_df["Search Query"].tolist()
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

# Encode the career names into vectors
small_embeddings = model.encode(small_careers, convert_to_tensor=True)
large_embeddings = model.encode(large_careers, convert_to_tensor=True)

In [13]:
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer, util

# Load the data
df1 = pd.read_csv("companyName.csv", header=None, names=["CompanyName"])
df3 = pd.read_csv("merged_output_logo_jan9.csv", header=None, names=["Search Query", "Image URL"])

# Convert columns to lists
small_careers = df1["CompanyName"].tolist()
large_careers = df3["Search Query"].tolist()
image_urls = df3["Image URL"].tolist()

# Initialize lists for results
exact_matches = []
semantic_matches = []

# Find exact matches first
for small_career in small_careers:
    exact_match = [
        (large_career, image_urls[idx]) 
        for idx, large_career in enumerate(large_careers) 
        if large_career.lower() == small_career.lower()
    ]
    if exact_match:
        exact_matches.append([small_career, exact_match[0][0], exact_match[0][1]])

# Save the exact matches to a DataFrame
exact_matches_df = pd.DataFrame(exact_matches, columns=["CompanyName", "Matched Search Query", "Image URL"])
exact_matches_df.to_csv("new_exact_matches_with_images.csv", index=False)

# Load the pre-trained Sentence-BERT model for semantic matching
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

# Encode the career names into vectors
small_embeddings = model.encode(small_careers, convert_to_tensor=True)
large_embeddings = model.encode(large_careers, convert_to_tensor=True)

# For semantic matches
for i, small_career in enumerate(small_careers):
    # Skip if it's already in the exact matches
    if any(small_career.lower() == exact_match[0].lower() for exact_match in exact_matches):
        continue
    
    # Compute cosine similarity between this career and all careers in the large list
    similarities = util.pytorch_cos_sim(small_embeddings[i], large_embeddings)
    
    # Get the index of the best match
    best_match_idx = similarities.argmax().item()
    
    # Get the corresponding Search Query and Image URL
    best_match_query = large_careers[best_match_idx]
    best_match_image_url = image_urls[best_match_idx]
    
    # Append the result to semantic matches
    semantic_matches.append([small_career, best_match_query, best_match_image_url])

# Convert the semantic matches to a DataFrame
semantic_matches_df = pd.DataFrame(semantic_matches, columns=["CompanyName", "Matched Search Query", "Image URL"])
semantic_matches_df.to_csv("new_matches_with_images.csv", index=False)

print("Matching complete!")
print("Exact matches saved to 'exact_matches_with_images.csv'")
print("Semantic matches saved to 'semantic_matches_with_images.csv'")

Matching complete!
Exact matches saved to 'exact_matches_with_images.csv'
Semantic matches saved to 'semantic_matches_with_images.csv'

In [14]:
df5=pd.read_csv("new_matches_with_images.csv")

In [15]:
df5.head()

,CompanyName,Matched Search Query,Image URL
0,CompanyName,The Craft Company,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,Allcargo Logistics,Allcargo Logistics,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
2,Blue Dart Express,Blue Dart Express,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
3,Gati Ltd,Gati Ltd,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
4,Transport Corporation of India,Transport Corporation of India,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."

In [16]:
import pandas as pd
import re

# Load the data
df5 = pd.read_csv("new_matches_with_images.csv")

# Function to normalize strings by removing spaces, commas, dots, special signs, and making it lowercase
def normalize_string(s):
    return re.sub(r'[^a-z0-9]', '', s.lower())

# Filter rows where normalized CompanyName matches normalized Matched Search Query
filtered_df = df5[
    df5.apply(lambda row: normalize_string(row["CompanyName"]) == normalize_string(row["Matched Search Query"]), axis=1)
]

# Save the filtered DataFrame to a new CSV
filtered_df.to_csv("new_v1_exact_normalized_matches.csv", index=False)

print("Filtered matches saved to 'exact_normalized_matches.csv'")

Filtered matches saved to 'exact_normalized_matches.csv'

In [ ]:
results = []

# For each career in the small list, find the most semantically similar careers in the large list
for i, small_career in enumerate(small_careers):
    # Compute cosine similarity between this career and all careers in the large list
    similarities = util.pytorch_cos_sim(small_embeddings[i], large_embeddings)
    
    # Get the indices of top matches, let's say top 5 matches
    top_matches = np.argpartition(similarities[0], -1)[-1:]
    # top_match_idx = similarities[0].argmax().item()  # Get the index of the most similar career
    # top_match = large_careers[top_match_idx]

    
    # Get the corresponding career names from large list
    matched_careers = [large_careers[idx] for idx in top_matches]
    
    # Save the career and matched careers to the results list
    results.append([small_career, ", ".join(matched_careers)])

# Convert the results to a DataFrame
output_df = pd.DataFrame(results, columns=["Career (Small List)", "Matched Careers (Large List)","Image URL"])

# Save the result to a CSV file
output_df.to_csv("matched_careers_top1.csv", index=False)

print("Matching complete! Results saved to matched_careers.csv")

In [ ]:
exact_matches = []
semantic_matches = []

# Find exact matches first
for small_career in small_careers:
    exact_match = [large_career for large_career in large_careers if large_career.lower() == small_career.lower()]
    if exact_match:
        exact_matches.append([small_career, ", ".join(exact_match)])

# Save the exact matches to a CSV file
exact_matches_df = pd.DataFrame(exact_matches, columns=["Career (Small List)", "Exact Matched Careers"])
exact_matches_df.to_csv("exact_matches_2.csv", index=False)

# Load the pre-trained Sentence-BERT model for semantic matching
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

# Encode the career names into vectors
small_embeddings = model.encode(small_careers, convert_to_tensor=True)
large_embeddings = model.encode(large_careers, convert_to_tensor=True)

# For each career in the small list, find the most semantically similar careers in the large list
for i, small_career in enumerate(small_careers):
    # Skip if it's already in the exact matches
    if any(small_career.lower() == exact_career[0].lower() for exact_career in exact_matches):
        continue
    
    # Compute cosine similarity between this career and all careers in the large list
    similarities = util.pytorch_cos_sim(small_embeddings[i], large_embeddings)
    
    # Get the indices of top matches, let's say top 5 matches
    top_matches = np.argpartition(similarities[0], -5)[-5:]
    
    # Get the corresponding career names from large list
    matched_careers = [large_careers[idx] for idx in top_matches]
    
    # Save the career and matched careers to the semantic matches list
    semantic_matches.append([small_career, ", ".join(matched_careers)])

# Convert the semantic matches to a DataFrame
semantic_matches_df = pd.DataFrame(semantic_matches, columns=["Career (Small List)", "Semantically Matched Careers"])

# Save the semantic matches result to a CSV file
semantic_matches_df.to_csv("semantic_matches_2.csv", index=False)

print("Matching complete! Exact matches saved to 'exact_matches.csv' and semantic matches saved to 'semantic_matches.csv'")